.header
{
    margin: 70px auto 20px auto;
    width: 720px;
    height: 100px;
    
}

.header .h1
{
    color: #fff;
    text-align: center;
    font-size: 45px;
}

.header .h3
{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}